<center>
  <div class="cotainer">
    <!-- Create Account Form -->
    <h3>Sign up for a trial memberhsip!</h3>
    <div id="signupForm">
      <%= form_for @user, {action: "create"} do |f| %>
      <%= f.text_field :user_name, required: true, placeholder: "NAME" %>
      <br>
      <%= f.text_field :email, required: true, type: "email", pattern: "[^@]+@[^@]+\.[a-zA-Z]{2,6}", placeholder: "E-MAIL" %>
      <br>
      <%= f.text_field :phone_number, required: true, placeholder: "PHONE NUMBER" %>
      <br>
      <%= f.text_field :company_name, required: true, placeholder: "COMPANY NAME" %>
      <br>
      <%= f.password_field :password, required: true, placeholder: "PASSWORD" %>
      <br>
      <%= f.submit "Sign up" %>
      <% end %>
    </div>
    <!-- Login form -->
    <h3>Returning members, please sign in!</h3>
    <div id="loginForm">
      <%= form_for :users, url: {controller: "sessions", action: "create"} do |f| %>
      <%= f.text_field :email, required: true, type: "email", pattern: "[^@]+@[^@]+\.[a-zA-Z]{2,6}", placeholder: "E-MAIL" %>
      <br>
      <%= f.password_field :password, required: true, placeholder: "PASSWORD" %>
      <br>
      <%= f.submit "Login" %>
      <% end %>
    </div>
  </div>
</center>
<!-- end form stuff -->